.places__link {
    display: block;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    margin-top: 12px;
    color:#fff;
}

.places__link:hover {
    opacity: 0.8;
    transition: .5s ease;
}