.travel__label {
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-top: 8px;
}

@media screen and (max-width: 768px) {
    
    .travel__label {
       padding-left: 24px;
        
    }
       
    }

    @media screen and (max-width: 320px) {
    
        .travel__label {
           padding-left: 16px;
            
        }
           
        }