.places__item {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.67;
    margin: 0;
   
}

.places__item:nth-child(even) {
    margin-top: 24px;
}

@media screen and (max-width: 768px) {
    
    .places__item {
        font-size: 16px;
        
    }
       
    }